.game-img img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.card-wrapper{
    width: 400px;
    height: 400px;
    font-size: 18px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #6699ff 0%, #ff9966 100%);
    border: 1px solid black;
}

.card-name{
    font-weight: 600;
}