.game-img img{
    width: 300px;
    height: 200px;
}

.card-wrapper{
    width: 350px;
    height: fit-content;
    overflow: hidden;
    font-size: 18px;
    border-radius: 20px;
    background: linear-gradient(90deg, #5c5c5c,#333333,#000000,#000000,#000000);
    color: white;
    transition-duration: .4s;
}

.rating{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card-wrapper:hover{
    transform: scale(1.05);
}

.card-name{
    font-weight: 900;
    text-decoration: none;
}